:root{
  --dark: #333;
  --light: #fff;
  --darker: #999;
  --font1: #444;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 16px;
}

body{
  min-height: 100vh;
  width: 100vw;
  display: flex;
  background: #D3CCE3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(left, #E9E4F0, #D3CCE3);
  background: -o-linear-gradient(left, #E9E4F0, #D3CCE3);
  background: linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header{
  width: 260px;
  max-height: 100%;
  background: var(--dark);
  display: flex;
  flex-direction: column;
  position: relative;
}

nav{
  display: flex;
  flex-direction: column;
  height: 150px;
  width:150px;
  position: absolute;
  top: 15%;
  left: 30px;
}

nav a:nth-of-type(2){
  margin:30px 0;
}

nav a {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: var(--darker);
  font-size: 1.775rem;
  width:80%;
  transform: all 1s ease-in-out;
}

a > li{
  list-style: none;
}

nav a:hover{
  width: 100%;
  /* transform: width 500ms ease-in-out; */
}

header .burger{
  position: absolute;
  top: 5px;
  right:-45px;
  width:auto;
  height:auto;
  cursor: pointer;
}

header > div:nth-of-type(2){
  font-size: 1.475rem;
  color: var(--light);
  width:100%;
  height:60px;
  position: absolute;
  top:0;
  background: #3c9ddc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.burger div{
  height: 4px;
  width: 30px;
  background: #fff;
  margin: 8px 0;
}

.container{
  padding: 0 30px 20px;
  width: 100%;
}

.container .heading-box{
  height: 60px;
  width:111.2%;
  margin-left: -100px;
  margin-bottom: 20px;
  background:#3c8dbc;
}

.container h1{
  height: 40px;
  border: none;
  border-bottom:1.5px solid #333;
  margin-bottom: 20px;
  font-family: "Poppins",sans-serif;
  font-weight: normal;
  color: var(--font1);
}

.container > button{
  height: 50px;
  width: 200px;
  border: 1px solid #3c8dbc;
  border-radius: 6px;
  background:#3c8ddc;
  color: var(--light);
  font-size: 1.375rem;
  letter-spacing: 0.050rem;
}

.form{
  height: 600px;
  width: 100%;
  border:.2px solid #888;
  border-top:3px solid #888;
  border-bottom:1.5px solid #888;
  border-radius: 4px;
  margin-top:20px;
  background: #fff;
  padding: 20px 17px;
}

.form h2{
  height: 30px;
  border: none;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  font-weight: lighter;
  letter-spacing: 0.1rem;
  color: var(--font1);
}

.form div{
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.form div > input,
.form div > select{
  height: 40px;
}

label{
  font-size:1.125rem;
  text-transform:capitalize;
  color: var(--font1);
  letter-spacing: 0.1rem;
}

#faculty,#programs{
  border: 1px solid #ccc;
  border-radius: 1px;
  font-size: 1.275rem;
  padding-left: 10px;
}

#faculty > option{
  font-size: 1rem;
  border: none;
  background: none;
}

.form div:nth-of-type(4) > input{
  height: 20px;
}
