:root{
  --dark: #333;
  --light: #fff;
  --darker: #777;
  --font1: #444;
  --clip: polygon(100% 0%, 0 0%, 50% 100%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html{
  font-size: 16px;
}

body{
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #E0EAFC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(left, #CFDEF3, #E0EAFC);
  background: -o-linear-gradient(left, #CFDEF3, #E0EAFC);
  background: linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: relative;
}

header{
  background: var(--dark);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width:100%;
  padding: 0 20px;
  margin-bottom: 40px;
  background:#001f3f;
  z-index: 1;
}

header > p{
  font-size: 1.875rem;
  color: var(--light);
}

nav{
  display: flex;
}

nav a {
  text-decoration: none;
  color: var(--light);
  font-size: 1.375rem;
  transition: all 500ms ease-in-out;
  padding: 0 10px;
}

a > li{
  list-style: none;
}

nav a:hover{
  width: 75%;
  color: var(--light);
}

/* header .burger{
  position: absolute;
  top: 5px;
  right:-45px;
  width:auto;
  height:auto;
  cursor: pointer;
} */

/*
.burger div{
  height: 4px;
  width: 30px;
  background: #fff;
  margin: 8px 0;
} */

.fixed{
  position: fixed;
}

.container{
  padding: 0 30px 20px;
  width: 100%;
  display: flex;
  position: relative;
  margin-bottom:50px;
}

.container::after{
  content: '';
  position: absolute;
  height: 2px;
  width: 95%;
  background:rgba(190,150,170,0.5);
  bottom:-10px;
}

.frms,.filters{
  width: 50%
}

.container div > h1{
  height: 40px;
  margin-bottom: 20px;
  font-family: "Poppins",sans-serif;
  font-weight: normal;
  text-transform:capitalize;
  color: var(--font1);
  position: relative;
}

.frms > h1::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width:200%;
  background: var(--darker);
}

button{
  height: 50px;
  width: 200px;
  border: 1px solid #3c8dbc;
  border-radius: 6px;
  background:#3c8ddc;
  color: var(--light);
  font-size: 1.375rem;
  letter-spacing: 0.050rem;
}

.form{
  min-height: 600px;
  width: 100%;
  border:.2px solid #888;
  border-top:3px solid #888;
  border-bottom:1.5px solid #888;
  border-radius: 4px;
  margin-top:20px;
  background: #fff;
  padding: 20px 17px;
  position: relative;
}

.form h2{
  height: 30px;
  border: none;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  font-weight: lighter;
  letter-spacing: 0.1rem;
  color: var(--font1);
}

.form div{
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

input,select{
  height: 40px;
  border: 0.5px solid var(--darker);
  border-radius: 4px;
  padding-left: 10px;
}

.form div > input
{
  font-size: 1.375rem;
}

label{
  font-size:1.125rem;
  text-transform:capitalize;
  color: var(--font1);
  letter-spacing: 0.1rem;
}

select{
  border: 1px solid #ccc;
  appearance: none;
  outline: none;
  font-size: 1.275rem;
  padding-left: 10px;
  border-radius: 4px;
}

.frms form div:nth-of-type(4)>label:nth-of-type(1){
  margin-bottom: 5px;
}


.frms form div:nth-of-type(5)::after,
.frms form div:nth-of-type(6)::after{
  content:'';
  position: absolute;
  width: 18px;
  height: 14px;
  background: var(--darker);
  clip-path: var(--clip);
  right: 3.125em;
  pointer-events: none;
}

.frms form div:nth-of-type(5)::after,
.frms form div:nth-of-type(6)::after{
  bottom: 27%;
}

.frms form div:nth-of-type(6)::after{
  bottom: 15%;
}

option{
  font-size: 1.25rem;
  border: none;
  background: none;
}

option:nth-of-type(even){
  background: lightgrey;
}

.form div:nth-of-type(4) > input{
  height: 20px;
}

.form button{
  width:140px;
  font-size: 1.25rem;
  background-color: #0069d9;
  border-color: #0062cc;
}

.filters{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 65px 100px 0;
}

.filters > h1{
  border: none !important;
}

.filters form{
  display: flex;
  flex-direction:  column;
  border:.2px solid #daacbd;
  border-top:3px solid #dd4b39;
  border-bottom:1.5px solid #abacd3;
  border-radius: 4px;
  padding: 20px;
  width:550px;
  background: var(--light);
}

.filters label{
  color: var(--dark);
}

.filters label::after{
  content:'';
  position: absolute;
  right:150px;
  margin-top:45px;
  clip-path: var(--clip);
  background: grey;
  height: 16px;
  width: 18px;
}

.filters select{
  margin: 10px 0 10px;
  background: transparent;
  border: 1px solid;
  color: grey;
  position:relative;
}

.filters option:hover:nth-of-type(even){
  background: #0069d9;
  color: var(--light);
  margin: 4px 0;
}

.filters button{
  width: 100%;
  font-size: 1.875rem;
  letter-spacing: 0.2rem;
  background: #0069d9;
}
.filters button:nth-of-type(1){
  margin: 0 0 15px;
}

.students-datas{
  width: 80%;
  min-height:30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding:10px 30px;
  margin-bottom: 10px;
  margin:0 auto;
}
.students-datas h1{
  font-size: 1.876rem;
  text-transform: capitalize;
}

.students-datas input{
  width: 100%;
  background: transparent;
  font-size: 1.25rem;
  text-align: center;
}
table{
  width: 100%;
  border-collapse: collapse;
}
tr,th{
  border: 0.5px solid var(--dark);
  padding: 8px;
  text-transform: capitalize;
  letter-spacing: 0.055rem;
}
